/*  Initialisation */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0%;
}
/*   this is the header part   */
.header {
  /*  box modele*/
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
}
.header img {
  margin-left: 15%;
}
.header li {
  display: inline;
  margin: 6px;
}
.header ul {
  margin-right: 15%;
  margin-top: 6px;
}
.header Li a {
  color: gray;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.header Li a:hover {
  color: #00b39b;
}
.dropdown {
  position: relative;
  color: gray;
  font-family: "Roboto", sans-serif;
}
.dropdown-content {
  /* display: flex; */
  /* flex-direction: column;  */
  display: none;
  position: absolute;
  line-height: 35px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px gray;
}
.dropdown:hover {
  color: #00b39b;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*    this is the Making the healthcare experience more human section */
.healthcare {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.healthcare img {
  padding-bottom: 2%;
}
.healthcare h2 {
  color: #00b39b;
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
}
.p1 {
  display: flex;
  justify-content: space-between;
  margin: 3% 15% 3%;
  color: #747474;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.p1 p {
  width: 45%;
}
.healthcare img {
  width: 4%;
  margin-top: 4%;
}
/*  this is the For patient doctors section    */
.for {
  /* box model */
  margin: 2% 15%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}
.for h3 {
  font-size: 26px;
  margin: 7.8px 0px;
  color: white;
}
.for h4 {
  font-size: 24px;
  color: white;
}
.for select {
  font-size: 19px;
  border: none;
  margin-top: 16%;
}
.Patient {
  background-color: #00b39b;
  padding: 32px 32px 0;
  width: 25%;
}
.Doctors {
  background-color: #3d83df;
  padding: 32px 32px 0;
  width: 25%;
}
.clinics {
  background-color: black;
  padding: 32px 32px 0;
  width: 25%;
}
.Patient select {
  background-color: #00b39b;
  color: white;
  size: 19px;
}
.Doctors select {
  background-color: #3d83df;
  color: white;
  size: 19px;
}
.clinics select {
  background-color: black;
  color: white;
  size: 19px;
}
select option {
  margin: 40px;
  background: white;
  color: black;
  border-color: black;
}

.loogoo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
/*        tihs the We are a global company part      */
.global {
  display: flex;
  justify-content: space-around;
  margin: 6% 15%;
}
.global h2 {
  color: #00b39b;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
}
.loogoo svg {
  fill: gray;
  width: 40%;
}
.loogoo svg:hover {
  fill: #00b39b;
}

.loogoo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  width: 67%;
}
.WB {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  background-color: rgb(217, 243, 242);
  background-image: url(https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/4819/assets/44063/doktortakvimi-mktpl-symbol-turquoise.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;

  background-size: 30%;
}

.WB h2 {
  margin-top: 25%;
  margin-left: 55%;
  width: 80%;
  color: #00b39b;
  font-size: 34px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.WB p {
  width: 65%;
  margin-top: 5%;
  margin-left: 55%;
  line-height: 25px;
  color: rgb(83, 81, 81);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.grp {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-right: 5%;
}
.block1 {
  justify-items: center;
  align-content: center;
}

.block1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: -425px;
}
.block1 p {
  text-align: center;
  margin-left: -2px;
}
.block2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -20px;
}
.appoint1 {
  height: 30%;
  padding: 20px 1px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -155px;
  justify-content: center;
}
.appoint2 {
  height: 30%;
  padding: 20px 1px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appoint3 {
  height: 30%;
  padding: 20px 1px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -155px;
  justify-content: center;
}
.appoint4 {
  height: 30%;
  padding: 20px 1px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appoint img {
  width: 20%;
}
.grp p {
  color: gray;
  font-size: 13px;
  text-align: center;
  margin-left: -5%;
}
.grp h3 {
  color: #00b39b;
  font-size: 24px;
  text-align: center;
  margin-top: 0%;
}
/*     This is the Improve the lives of millions */
.imp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imp h2 {
  text-align: center;
  color: #00b39b;
  font-size: 30px;
  margin-top: 6%;
}
.imp p {
  text-align: center;
  margin: 1% 34%;
  color: gray;
  font-size: 14px;
  line-height: 25px;
}
/*   this the images countries part   */
.countries {
  /* box model */
  margin: 2% 10%;
  /* flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.country {
  margin-bottom: 2%;
  border-radius: 8px;
}
.country img {
  border-radius: 8px;
}
.country div {
  display: flex;
  justify-content: space-between;
  padding: 7%;
}
.country:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.country button {
  background-color: #3d83df;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px 19px;
  border-radius: 3px;
  border: none;
}
.country h4 {
  text-decoration: none;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
/*   This the Join us section   */
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join h2 {
  margin: 0px 0px 22.5px;
}
.join a button {
  padding: 9px 28px;
  background-color: #3d83df;
  color: white;
  border-radius: 4px;
  margin-bottom: 40%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
}
.join a button:hover {
  background-color: blue;
}
.join a {
  font-size: 12px;
}
/*     footer part    */
.footer div p {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-bottom: 2%;
}
.footer p {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-bottom: 2%;
}
